/* #project_section {
    padding: 100px 0px;
} */

.project-main{
    height: 100%;
    width: 100%;
}

#project_heading h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-left: 400px;
}

.title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 18%;
    left: 50%;
    text-align: center;
}

.title h1 {
    font-size: 50px;
    margin: 0;
    color: #ffffff;
    text-transform: none;
    font-weight: 900;
    letter-spacing: 10px;
    justify-content: center;
}

.title p {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize;
    color: #FF9800;
    margin: 0;
}

.project_all_card {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: first baseline;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project_card {
    width: 380px;
    height: auto;
    margin: 25px;
    position: relative;
    margin-left: 80px;
    /* justify-content: space-evenly; */


}

.project_card img {
    width: 130%;
    height: 50%;
    display: block;
    margin: auto;
    border-radius: 2rem;
}

.project_card_info {
    position: absolute;
    width: 130%;
    height: 100%;
    top: 0;
    background: rgb(0, 0, 0, 0.6);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 70px;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
}

.project_card_info:hover {
    opacity: 1;
}

.project_card_info>* {
    transform: translateY(25px);
    transition: transform 0.6s;
}

.project_card_info:hover>* {
    transform: translateY(0px);

}

.project_card_info h2 {
    color: #FF9800;
    font-size: 25px;
}

.project_card_info p {
    color: #fff;
}

.btn__project {
    background-color: #FF9800;
    color: #ffffff;
    border: 2px solid transparent;
    padding: 8px 25px;
    border-radius: 30px;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.5s ease;
}

.btn__project:hover {
    background-color: transparent;
    border-color: #FF9800;
    color: #FF9800;
}

.btn__project:focus {
    outline: none;
}

@media only screen and (max-width: 640px) {

        
    .project-main{
    height: 80%;
    width: 80%;
    }
        title h1{
            font-size: 40px;
        }

        .title p {
            font-size: 13px;
        }

        .project_all_card {
          grid-template-columns: 1fr;
          margin-left: -39px;
        }

        .project_all_card {
            gap: 1rem;
        }
      
        .project_card {
            width: 277px;
            margin-left: 46px;
        }

        .project_card_info h2 {
            font-size: 20px;
        }

        .project_card_info p{
            font-size: 13px;
        }

        .btn__project {
            border: 2px solid transparent
      }
  }
                /*iPhone XR*/
  /* @media only screen and (max-width: 640px) {
    .project_card {
        margin-left: 65px;
    }
  } */