.project {
    text-align: center;
    margin: 0 auto;
  }
  
  .project h1 {
    color: #fff;
    font-size: 60px;
    margin-bottom: 1.5rem;
    padding: 8rem 0 6rem;
    text-align: center;
  }

  .project h5{
    color: #FF9800;
    position: absolute;
    top: 14%;
    margin-left: 600PX;
    font-size:20px;
    font-weight: 300;
    font-style: italic;
    transform: translate(-30%, -30%);
  }

  .project::after{
    opacity: 0.6;
  }
.project__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 100px;
    border-color: aliceblue;
    
}

.project__item{
    width: 25%;
    margin-bottom: 20px;

}

.project__item:hover{
    /* transition: var(--color-primary-varient); */
    background: transparent;
    transform: translateY(-10px);
}

.project__item-image{
    width: 400%;
    height: 400px;
    border:  2px white solid;
    border-radius: 2rem;
}

.project__item-image img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.project__item h3{
    margin-top: 10px;
     color: #fff;
     text-align: center;
}

.btn__project{
background-color: #FF9800;
  color:#ffffff;
  border:2px solid transparent;
  padding:10px 45px;
  border-radius: 20px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  transition: all 0.5s ease;
  width: 125px;
  height: 50px;
  
}

.btn__project:hover{
  background-color: transparent;
  border-color:#FF9800;
  color:#FF9800;
}

/*---------Media Quieries for Medium Devices-----*/

@media screen and (max-width: 1024px) {
.project__container{
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}
}

/*---------Media Quieries for Small Devices-----*/

