.about__container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.about {

  width: 60%;
  height: 80vh;
}

.about__me {
  width: 100%;
  margin-left: 50px;
}

.about__me-image {

  border-radius: 2rem;
  overflow: hidden;
  transition: var(--transition);
  margin: 5px;
}

.about__me-image img {
  width: 450px;
  height: 700px;
  border-color: #fff;
  border-style: groove;
  border-radius: 30px;
  margin-top: 115px;
  margin-left: 30px;
}

.container {
  padding: 8rem 1rem;
  background-color: #1b1a1a;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.heading {
  position: absolute;
  top: 15%;
  left: 50%;
  text-align: center;
  margin-left: 200px;
}

.heading h1 {
  font-size: 50px;
  margin: 0;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 900;
  justify-content: center;

}

.heading h5 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  color: #FF9800;
  margin: 0;
}

.heading__skills {

  position: absolute;
  bottom: 250px;
  right: 215px;
  color: #fff;
  left: 20;
}

.heading__skills h1 {
  font-size: 50px;
  margin: 0;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 900;
  justify-content: center;
  margin-left: 645px;
}

.heading__skills h5 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  color: #FF9800;
  margin-left: 680px;
}

.box p {
  background-color: #1b1a1a;
  border: 1px solid #1b1a1a;
  border-radius: 5px;
  padding-right: 40px;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 230px;
  margin-left: 0;
  width: 100%;
  text-align: justify;
}



.about__me-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 150px;
  right: 24px;
}

.about__me-icons img {
  width: 70px;
  height: 70px;
  margin: 0 10px;
  size: 20px;
}

a.download.minimalist {
  background-color: #FF9800;
  color: #ffffff;
  border: 2px solid transparent;
  padding: 10px 35px;
  border-radius: 30px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s ease;
  margin-top: 55px;
  position: absolute;
  bottom: 55px;
  right: 220px;
}

a.download:hover {
  background-color: transparent;
  border-color: #FF9800;
  color: #FF9800;
}

a.download:focus {
  outline: none;
}

/*iPhone SE*/
@media only screen and (max-width: 640px) {
  .about__container {
    grid-template-columns: 1fr;
  }

  .header {
    background-color: black;
    padding: 0 10px;
    height: 60px;

  }

  .logo {
    width: 100px;
    height: 2rem;
  }

  .heading {
    margin-left: 0;
    left: 34%;
    top: 88%;
    align-items: none;

  }

  .heading h1 {
    font-size: 30px;
  }

  .heading h5 {
    margin-bottom: 10px;
  }


  .about__me {
    width: 100%;
    margin-left: 0;
  }

  .title h1 {
    text-transform: none;
    margin-left: 112px;

    .title p {
      margin-left: 100px;
    }
  }

  .about__me-image {
    margin: 0;
  }


  .about__me-image img {
    width: 95%;
    height: 493px;
    margin-top: 68px;
    margin-left: 10px;
  }

  .box p {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
    margin-top: 105px;
    padding: 20px;
  }

  .heading__skills {
    position: unset;
    right: 0;
    margin-top: 20px;
  }

  .heading__skills h5 {
    margin-left: 0;
    text-align: center;
    margin-bottom: 10px;

  }

  .heading__skills h1 {
    margin-left: 0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;

  }

  .about__me-icons {
    position: unset;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 1rem;
    padding: 20px;
  }

  a.download.minimalist {
    position: unset;
    width: 60%;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 30px;

  }

  .footer {
    padding: unset;
  }

}

/*iPhone XR*/
/* @media only screen and (max-width: 896px) {
  .heading{
    top: 66%;
  }

  a.download.minimalist {
  width: 51%;
  } */