.about__container {
  display: grid;
  grid-template-columns: repeat(2, 2fr) ;
}

.about {
  
  width: 60%;
  height: 80vh;
}

.about__me-image {
  
  border-radius: 2rem;
  overflow: hidden;
  transition: var(--transition);
  margin: 5px;
  display: flex;
}

.about__me-image img {
  width: 450px;
  height: 700px;
  border-radius: 30px;
  margin-top: 115px;
}

.container {
  padding: 8rem 1rem;
  background-color: #1b1a1a;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.heading {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  text-align: center;
  margin-left: 200px;
}

.heading h1 {
  font-size: 50px;
  margin: 0;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 900;
  justify-content: center;
}

.heading h5 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  color: #FF9800;
  margin: 0;
}

.heading__skills {

  position: absolute;
  bottom: 200px;
  right: 300px;
  color: #fff;
  left: 20;
}

.heading__skills h1 {
  font-size: 50px;
  margin: 0;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 900;
  justify-content: center;
  margin-left: 600px;
}

.heading__skills h5 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  color: #FF9800;
  margin-left: 600px;
}

.box p {
  background-color: #1b1a1a;
  border: 1px solid #1b1a1a;
  border-radius: 5px;
  padding: 20px 15px;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 100px;
  margin-left: 0;
  width: 100%;
  text-align: justify;
}



.about__me-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 120px;
  right: 90px;
}

.about__me-icons img {
  width: 70px;
  height: 70px;
  margin: 0 10px;
  size: 20px;
}

a.download.minimalist {
  background-color: #FF9800;
  color: #ffffff;
  border: 2px solid transparent;
  padding: 10px 35px;
  border-radius: 30px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s ease;
  margin-top: 55px;
  margin-left: 600px;
  position: absolute;
  bottom: 50px;
  right: 350px;
}

a.download:hover {
  background-color: transparent;
  border-color: #FF9800;
  color: #FF9800;
}

a.download:focus {
  outline: none;
}

/*-------------------MEDIUM DEVICES-----------------*/
@media (max-width: 768px) {
  .about__container {
    grid-template-columns: 1fr;
    grid-template-columns: max-content 50% 50%;
    gap: 15%;
  }

  .header {
    background-color: black;
    padding: 0 10px;

  }

  .logo {
    width: 100px;
    height: 2rem;
  }

  .heading {
    margin-left: 0;
    top: 95%;
    padding-right: 20px;
    align-items: none;

  }

  .heading h1 {
    font-size: 30px;
  }
  .heading h5 {
    margin-bottom: 10px;
  }

  .about__me-image {
    margin:0;
  }


  .about__me-image img {
    width: 100%;
    height: 493px;
    margin-top: 35px;
}   

  .box p {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
  }

  .heading__skills {
    position: unset;
    right: 0;
  }

  .heading__skills h5 {
    margin-left: 0;
    text-align: center;
    margin-bottom: 10px;

  }
  .heading__skills  h1{
    margin-left: 0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;

  }

  .about__me-icons {
    position: unset;
    display: grid;
    grid-template-columns: repeat(3, 3fr) ;
    gap: 2rem;
    margin-top: 30px;
  }

  a.download.minimalist {
    position: unset;
    margin-top: 30px;
    margin-left: 0px;
  }

}