.about__container {
    display: grid;
    grid-template-columns: max-content 35% 50%;
    gap: 15%;
}

.about {
  width: 60%;  
  height: 80vh;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    margin: 5px;

	  /* display: flex; */
}
.about__me-image img {
  width: 450px;
  height: 700px;
}

.about__me-image:hover {
  transform: rotate(0);
}


.container {
   padding: 8rem 1rem;
   background-color: #1b1a1a;
   font-size: 20px;
   display: flex; 
  flex-direction: row;
  width: fit-content;
}
.heading {
  position: absolute;
  right: 400px;

}

.heading h1{
  margin-left: 200px;
}

.heading hr {
    width: 120px;
    height: 2px;
    font-size:20px;
    font-weight: 300;
    font-style: italic;
    text-decoration-color: #FF9800;
    text-decoration-thickness: 8px;
  }

  h5{
    color: #FF9800;
    margin-left: 240px;
    font-size:20px;
    font-weight: 300;
    font-style: italic;
  }

  .heading__skills {
    
    position: absolute;
    bottom: 200px;
    right: 300px;
    color: #fff;
    
  }
  .heading__skills h1 {
    margin-left: 250px;
  }
  .heading__skills h5{
    margin-left: 350px;
  }

.box p {
    background-color: #1b1a1a;
    border: 1px solid #1b1a1a;
    border-radius: 5px;
    /* padding: 20px; */
    font-size: 20px;
    line-height: 1.5;
    margin-top: 100px;
    margin-left: 100px;
    width: 600px;
    text-align: justify;
}
      


.about__me-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 120px;
    right: 90px;
  }
  
  .about__me-icons img {
    width: 70px;
    height: 70px;
    margin: 0 10px;
    size: 20px;
  }

  a.download.minimalist{
    background-color: #FF9800;
    color:#ffffff;
    border:2px solid transparent;
    padding:10px 35px;
    border-radius: 30px;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.5s ease;
    margin-top: 55px;
    margin-left: 200px;
    position: absolute;
    bottom: 50px;
    right: 350px;
  }
  
  a.download:hover{
    background-color: transparent;
    border-color:#FF9800;
    color:#FF9800;
  }
  
  a.download:focus{
    outline: none;
  }

  /*-------------------MEDIUM DEVICES-----------------*/
  @media screen and (max-width: 375px) {
    .container {
      grid-template-columns: 1fr;
      gap: 0;
    }
  
    .about__me {
      /* width: 50%; */
      margin: 2rem auto 4rem;
    }
  
    .about__me-image {
      margin-bottom: 0;
      width: 78%;
      height: 80%;
    }
  
    .heading {
      margin-top: 0;
    }
  
    .box p{
      margin: 1rem 0 1.5rem;
      vertical-align: bottom;
    }
  
    .about__me-icons {
      grid-template-columns: 1fr 1fr;
      bottom: 500px;

    }
  }