label {
    color: #fff;
    font-size: 1, 5rem;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;
    border-radius: 2rem;
    background-color: #252424;
    opacity: 0.6;
}


Form {
    z-index: 1;
    position: absolute;
    margin-left: 350px;
    width: 100%;
    height: 75%;
    bottom: 0px;
    left: -14px;
    right: 50px;

}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1rem;
    font-style: italic;
    border-radius: 1rem;
    border-color: #FF9800;
    cursor: pointer;
}

form textarea {
    height: 150px;
    /* margin-bottom: 5%; */
}

.form h1 {
    margin-left: 500px;
}

.form span {
    color: #FF9800;
}

.content .btn {
    margin: 1rem 0.3rem;
}

.form button {
    background-color: #FF9800;
    color: #ffffff;
    border: 2px solid transparent;
    padding: 10px 35px;
    border-radius: 30px;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20;
    display: inline-block;
    transition: all 0.5s ease;
    margin-top: 5%;
}

.form button:hover {
    background-color: transparent;
    border-color: #FF9800;
    color: #FF9800;
}

.form button:focus {
    outline: none;
}

.recapture {
    margin-left: 20%;


}

/*iPhone SE*/
@media only screen and (max-width: 640px) {
    form textarea {
        height: 100px;
        margin-bottom: 4%;
    }

    .contact .title h1 {
        font-size: 45px;
        margin: -9px;
    }

    .contact .title p {
        font-size: 13px;
    }

    .left__title h4 {
        margin-left: 110px;
        color: #FF9800;
    }

    form {
        margin-left: 0;
        padding: 1rem 1rem;
    }

    Form {
        height: 76%;
        left: 9px;
        width: 358px;
    }

    form button {
        margin: 26px 9px 0;
        margin-top: -1%
    }

    .footer {
        padding: unset;
    }

    form input,
    form textarea {
        font-size: 0.8rem;
    }

    label {
        font-size: 1rem;
    }

    p {
        font-size: 1.3rem;
        margin-left: 5px;
    }

    .recapture {
        margin-left: 3%;
    }
}

/*iPhone XR*/
/* @media only screen and (max-width: 896px) {
    .form {
        margin-left: 59px;
    }

    form button {
        margin: 20px 43px 0;
    }

    } .footer {
        padding: unset;
   

    p {
        font-size: 1.3rem;
        margin-left: 5px;
    }

    .recapture {
        margin-left: 3%;
    }
} */