.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    color: black;
}
.header-bg {
    background-color: white;
    transition: 0.5s;
}
.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 1rem;
}

.nav-menu li a {
    font-size: 1.6rem;
    font-weight: 500;
}

.nav-menu li a:hover {
    color: #c48528;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1040px) {
    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }
    .nav-menu li{
        padding: 1rem 0;
    }

    .nav-menu li a{
        font-size: 2rem;
    }

    .hamburger {
        display: initial;
    }
}

.about-section .about-img .img-box .shape-02{
    position: absolute;
    height: 30px;
    width: 30px;
    border:2px solid #FF9800;
    left:30px;
    top:30px;
    animation:ani01 5s linear infinite;
}