@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;700;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #fff;
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn {
  background-color: #FF9800;
  color:#ffffff;
  border:2px solid transparent;
  padding:10px 35px;
  border-radius: 30px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s ease;
}

.btn-01:hover{
  background-color: transparent;
  border-color:#FF9800;
  color:#FF9800;
}

.btn-01:focus{
  outline: none;
}

